<%= form_with(model: @computer, local: true) do |f| %>
  <%= errors_for(@computer) %>

  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :maker %>
    <%= f.text_field :maker, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :memory %>
    <%= f.text_field :memory, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :release_year %>
    <%= f.number_field :release_year, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
