<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<table class="table">
  <thead>
    <tr>
      <th>User name</th>
      <th>Maker</th>
      <th>Memory</th>
      <th>Release year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.user_name %></td>
        <td><%= computer.maker %></td>
        <td><%= computer.memory %></td>
        <td><%= computer.release_year %></td>
        <td><%= link_to 'Show', computer, class: 'btn btn-link btn-sm' %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer), class: 'btn btn-link btn-sm' %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer', new_computer_path, class: 'btn btn-link' %>
