<h1>Computers</h1>

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">User name</th>
      <th scope="col">Maker</th>
      <th scope="col">Memory</th>
      <th scope="col">Release year</th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.user_name %></td>
        <td><%= computer.maker %></td>
        <td><%= computer.memory %></td>
        <td><%= computer.release_year %></td>
        <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Computer', new_computer_path %>
