<h1>Computers</h1>

<dl>
  <dt>User name:</dt>
  <dd><%= @computer.user_name %></dd>
  <dt>Maker:</dt>
  <dd><%= @computer.maker %></dd>
  <dt>Memory:</dt>
  <dd><%= @computer.memory %></dd>
  <dt>Release year:</dt>
  <dd><%= @computer.release_year %></dd>
</dl>
<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
